﻿@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fstore</title>
    <link href="~/css/home.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
</head>
<body style="background-color:#AD967C">
    <section id="home">
        <div class="content1">
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur elit. Proin ante tellus, interdum vitae consequat maximus, sagittis ac lacus. Phasellus finibus rutrum diam</p>
                <button>buy now</button>
            </div>
            <div class="social-container">
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="content2">
            <h1>Fstore <span>Shopping</span></h1>
        </div>
    </section>
</body>
</html>
