﻿@using StoreClient.Utils;
@model BusinessObject.Entities.Member

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
    </dl>
</div>
@if (ViewData["Members"] != null)
{
    <div class="row ml-0 mr-0">
        <p class="text-danger">@ViewData["Members"]</p>
    </div>
}
<div>
    @if (Model != null)
    {
        <a asp-action="Edit" asp-route-id="@Model.MemberId">Edit</a> @Html.Raw("&verbar;")
    }
    @if (eStoreClientUtils.IsAdmin(User))
    {
        <a asp-action="Index">Back to List</a>
    }
</div>

