﻿@using StoreClient.Utils;
@using System.Security.Claims;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/home.css" rel="stylesheet" />
    <!-- gLightbox gallery-->
    <link rel="stylesheet" href="~/vendor/glightbox/css/glightbox.min.css">
    <!-- Range slider-->
    <link rel="stylesheet" href="~/vendor/nouislider/nouislider.min.css">
    <!-- Choices CSS-->
    <link rel="stylesheet" href="~/vendor/choices.js/public/assets/styles/choices.min.css">
    <!-- Swiper slider-->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/vendor/swiper/swiper-bundle.min.css">
    <!-- Google fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;800&amp;display=swap">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="~/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="~/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/img/favicon.png">
    <link rel="stylesheet" href="~/NguyenManhToan_SE1604_A02.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="navbar">
            <div class="inner-width" style="background-color:#AD967C">
                @if (eStoreClientUtils.IsAdmin(User))
                {
                    <a asp-controller="Home" asp-action="Index" class="logo">FStore Shopping</a>
                    <a>
                        Welcome, Admin
                    </a>
                    <div class="navbar-menu">
                        <a class="nav-link" asp-controller="Order" asp-action="Index">Order</a>
                        <a class="nav-link" asp-controller="Members" asp-action="Index">Member</a>
                        <a class="nav-link" asp-controller="Category" asp-action="Index">Category</a>
                        <a class="nav-link" asp-controller="Product" asp-action="Index">Product</a>
                        <a class="nav-link" asp-controller="Logout" asp-action="Index">Logout</a>
                    </div>
                }
                else
                {
                    <a asp-controller="Home" asp-action="Index" class="logo">FStore Shopping</a>
                    <div class="navbar-menu">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">home</a>
                        <a asp-controller="Product" asp-action="Index" class="nav-link">Product</a>
                        <a asp-controller="Order" asp-action="Index" class="nav-link">Order</a>
                        <a asp-controller="Category" asp-action="Index" class="nav-link">Category</a>
                        <a class="nav-link" asp-controller="Login" asp-action="Index"> <i class="fas fa-dolly-flatbed me-1 text-gray"></i>Cart</a>
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <a class="nav-link" asp-controller="Login" asp-action="Index"> <i class="fas fa-user me-1 text-gray fw-normal"></i>Login</a>
                        }
                        else
                        {
                            <a class="nav-link" asp-controller="Members" asp-action="Index">My Profile</a>
                            <a class="nav-link" asp-controller="Order" asp-action="Index">My Order</a>
                            <a class="nav-link" asp-controller="Logout" asp-action="Index">Logout</a>
                        }
                    </div>
                }
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/glightbox/js/glightbox.min.js"></script>
    <script src="vendor/nouislider/nouislider.min.js"></script>
    <script src="vendor/swiper/swiper-bundle.min.js"></script>
    <script src="vendor/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="js/front.js"></script>
    <script>
        // ------------------------------------------------------- //
        //   Inject SVG Sprite -
        //   see more here
        //   https://css-tricks.com/ajaxing-svg-sprite/
        // ------------------------------------------------------ //
        function injectSvgSprite(path) {

            var ajax = new XMLHttpRequest();
            ajax.open("GET", path, true);
            ajax.send();
            ajax.onload = function (e) {
                var div = document.createElement("div");
                div.className = 'd-none';
                div.innerHTML = ajax.responseText;
                document.body.insertBefore(div, document.body.childNodes[0]);
            }
        }
        // this is set to BootstrapTemple website as you cannot
        // inject local SVG sprite (using only 'icons/orion-svg-sprite.svg' path)
        // while using file:// protocol
        // pls don't forget to change to your domain :)
        injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg');

    </script>
    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="~/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @*    <script src="~/js/site.js" asp-append-version="true"></script>
    *@    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
