﻿@model BusinessObject.Entities.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RequiredDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RequiredDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShippedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShippedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Freight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Freight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.City)
        </dt
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.City)
        </dd>
    </dl>
</div>
<hr />
<h5>Order Details</h5>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails.ToList()[0].Product.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails.ToList()[0].UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails.ToList()[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetails.ToList()[0].Discount)
            </th>
            <th>
            Original Price 
            </th>
            <th>
            Price After Discount
            </th>
        </tr>
    </thead>
    <tbody id="orderProductsDetails">
        @if (Model != null && Model.OrderDetails != null && Model.OrderDetails.Any())
        {
            @foreach (var item in Model.OrderDetails)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Product.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnitPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Discount)
                    </td>
                    <td>
                        @{
                            // Calculate the price for the current order
                            decimal price = item.UnitPrice * item.Quantity;
                        }
                        @price
                    </td>
                    <td>
                        @{
                            // Calculate the price for the current order
                            decimal priceDiscount = item.UnitPrice * item.Quantity * (1 - (decimal)item.Discount / 100);
                        }
                        @priceDiscount
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@if (Model != null && Model.OrderDetails != null && Model.OrderDetails.Any())
{
    <p class="text-success">Order Total: @Model.OrderDetails.Sum(od => od.UnitPrice * od.Quantity * (1 - (decimal)od.Discount / 100)).ToString("N")</p>
}
@if (ViewData["Orders"] != null)
{
    <div class="row ml-0 mr-0">
        <p class="text-danger">@ViewData["Orders"]</p>
    </div>
}
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OrderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
