﻿@using Repository.Commons;
@using Service.Model.Order;
@using StoreClient.Utils;
@model Pagination<OrderViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Orders</h1>
    @if (eStoreClientUtils.IsAdmin(User))
    {
        <p>
            <a class="btn btn-outline-success" asp-action="Create">Create New Order</a>
        </p>
        <p>
            <a class="btn btn-outline-info" asp-action="Report">Order Sales Report</a>
        </p>
    }


    <table class="table">
        <thead>
            <tr>
                <th>
                    OrderId
                </th>
                <th>
                    OrderDate
                </th>
                <th>
                    RequiredDate
                </th>
                <th>
                    ShippedDate
                </th>
                <th>
                    Freight
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequiredDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShippedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Freight)
                    </td>
                    @*     <td>
                @Html.DisplayFor(modelItem => item.Member.Email)
                </td>*@
                    <td>
                        <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                        @if (eStoreClientUtils.IsAdmin(User))
                        {
                            <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>


@{
    var prevDisabled = "";
    var nextDisabled = "";

    if (Model.Items == null)
    {
        prevDisabled = "disabled";
        nextDisabled = "disabled";
    }
    else
    {
        prevDisabled = !(Model.PageIndex>1) ? "disabled" : "";
        nextDisabled = !(Model.PageIndex<Model.PageSize) ? "disabled" : "";
    }
}

@if (Model.Items != null)
{
    <a asp-action="Index" asp-route-pageIndex="@(Model.PageIndex - 1)" class="btn btn-primary @prevDisabled">
        Previous
    </a>
}

@if (Model.Items != null)
{
    @for (int i = 1; i <= Model.PageSize; i++)
    {
        <a asp-action="Index" asp-route-pageIndex="@i" class="btn @(Model.PageIndex == i ? "btn-primary" : "")">@i</a>
    }
}

@if (Model.Items != null)
{
    <a asp-action="Index" asp-route-pageIndex="@(Model.PageIndex + 1)" class="btn btn-primary @nextDisabled">
        Next
    </a>
}
