﻿@using Service.Model.SaleReportModel;
@model IEnumerable<SaleReportModel>

@{
    ViewData["Title"] = "Orders Sales Report";
}

<h1>Orders Sales Report</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Report" asp-controller="Order" method="get">
            <div class="form-group mb-0">
                <label class="control-label mb-0">Filter by Order Date: </label>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="startDate" class="control-label d-inline">Start Date: </label>
                        <input id="startDate" name="startDate"
                               class="form-control" type="datetime-local" step="any" value="@ViewData["StartDate"]" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="endDate" class="control-label d-inline">End Date: </label>
                        <input id="endDate" name="endDate"
                               class="form-control" type="datetime-local" step="any" value="@ViewData["EndDate"]" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Get Report" class="btn btn-outline-success" />
            </div>
        </form>
        <p>
            <a class="btn btn-outline-info" asp-action="RevenueStructure">Revenue By Product Category </a>
        </p>
    </div>
    <div class="col-12">
        @if (ViewData["SearchError"] != null)
        {
            <p class="text-danger">@ViewData["SearchError"]</p>
        }
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                StartDate
            </th>
            <th>
                EndDate
            </th>
            <th>
                TotalSales
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.TotalSales)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@if (TempData["Orders"] != null)
{
    <p class="text-danger">@TempData["Orders"] </p>
}