﻿@{
    ViewData["Title"] = "Index";
}


<div class="pagetitle">
    <h1>Analysis Product</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li class="breadcrumb-item active">Revenue Analysis</li>
        </ol>
    </nav>
</div><!-- End Page Title -->


<section class="section dashboard">
    <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
            <div class="row">

                <div class="col-12">
                    <div class="card top-selling overflow-auto">

                        <div class="filter">
                            <a class="icon" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Lọc</h6>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="Order"
                                       asp-action="RevenueStructure"
                                       asp-route-option="2022"
                                       data-ajax="true" data-ajax-update="#newchart">2022</a>
                                </li>

                                <li>
                                    <a class="dropdown-item" asp-controller="Order"
                                       asp-action="RevenueStructure"
                                       asp-route-option="2021"
                                       data-ajax="true" data-ajax-update="#newchart">2021</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="Order"
                                       asp-action="RevenueStructure"
                                       asp-route-option="2020"
                                       data-ajax="true" data-ajax-update="#Static-Product-Amount">2020</a>
                                </li>
                            </ul>
                        </div>

                        <div class="card-body pb-0">
                            <h5 class="card-title">Product analysing <span>|</span></h5>
                            <form asp-action="RevenueStructure" method="get">
                                <div class="col-md-2">

                                    <select name="option" class="form-select">
                                        <option value=@ViewData["option"]>@ViewData["option"]</option>
                                        <option value=2022>2022</option>
                                        <option value=2021>2021</option>
                                        <option value=2020>2020</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <input value="Thống kê" type="submit" class="btn btn-primary" />
                                
                                </div>
                            </form>
                            <canvas id="newchart"></canvas>

                            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                            <script src="~/js/jquery.js"></script>
                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
                            <script type="text/javascript">
                                $(function () {


                                    var ctx = document.getElementById('newchart').getContext('2d');
                                    var model = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model) as String);
                                    console.log(model)
                                    var doanhthunam = new Chart(ctx, model)
                                });


                            </script>
                          
                        </div>
                    </div>
                </div><!-- End Top Selling -->
            </div>
        </div><!-- End Left side columns -->

    </div>
</section>